<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="menu">
        <img src="assets/Menu.png" class="menu" >
      </ion-menu-button>
    </ion-buttons>
      <ion-title style="color: var(--ion-title-text)">
       {{"Contacto" | translate }}
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="texto">
  <p  style="color: var(--ion-card-text)" class="texto"> {{ "textoContacto" | translate}}  </p>
  <ion-item class="imagen">
    <img src="assets/contacto.png" >
   </ion-item>
 </ion-content> 
