.texto{
    font-family: 'Times New Roman', Times, serif;
    font-size: 110%;
  }
  
  p.texto{ 
    padding-left: 5%;
    padding-right:5%;
  }
  
  .menu {
    height: 15vw;
    width: 20vw;
    margin-left: 0;
  }
      
  .imagen img {
    height: 20vh;
    width:50%;
    margin:auto;
  }
   