.temaO {

    padding-left:6%;
    padding-top: 10%;
    

    //padding-left: 6%;
    display: ruby-text;
    //margin-top: 19px;


    //margin-left: 3px;
    
}
.cambiarI{

padding-top: 10%;

}

.imagenlogo
{
    padding-top: 0%;
    height: 50%;
    width: 70%;
    padding-bottom: 20%
    

}
.prueba1{
 
height: 90%;

}
