<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header >
        <ion-toolbar>
          <ion-title style="color: #ffffff" >Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="prueba1">
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item  [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" color="primary" [name]="p.icon"></ion-icon>

              <ion-label >
                {{p.title | translate }}
              </ion-label>
              
              
            </ion-item>
            
          </ion-menu-toggle>
          
        <ion-toggle slot="end"  (ionChange)="cambiarTema($event)"></ion-toggle>
          <ion-label class="temaO" color="primary">{{"Cambiar tema" | translate}}</ion-label>
          

          <ion-item class="cambiarI">
            <ion-label >{{"Cambiar idioma" | translate}}</ion-label>
          <ion-select  [okText]="this.translate.instant('Aceptar')" [cancelText]="this.translate.instant('Cancelar')" placeholder="Idioma" (ionChange)="changeLang($event)">
             
              <ion-select-option   value="es" selected="selected">Español</ion-select-option>
              <ion-select-option   value="en">Inglés</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
     <img class="imagenlogo" src="assets/logonuevo.png" >
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
