.temaO{
    padding-left:6%;
    padding-top: 10%;
    display: ruby-text;
  
}

.cambiarI{
    padding-top: 10%;
}

.imagenlogo{
    padding-top: 0%;
    height: 50%;
    width: 70%;
    padding-bottom: 20%
}

.prueba1{
    height: 90%;
}
