<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="menu">
        <img src="assets/Menu.png" class="menu" >
      </ion-menu-button>
    </ion-buttons>
      <ion-title style="color: white">
       {{"Sobre nosotros" | translate }}
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="texto">
  <p style="color:var(--ion-color-text)" class="texto"> {{ "whereuwant" | translate}}  </p>
  <ion-item class="imagen">
    <img src="assets/imagen1.png" >
   </ion-item>
 </ion-content> 
