<ion-header >
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button class="menu">
        <img src="assets/Menu.png" class="menu" >
      </ion-menu-button>
      <ion-title style="color: var(--ion-title-text)" lines="none">
        WhereUWant 
      </ion-title> 
    </ion-buttons>
  </ion-toolbar>
                 <!--Buscador-->

  <ion-searchbar style="background-color: #ffffff" class="buscador" style="color: #ffffff "
  (ionChange)="filtrar($event)" placeholder="{{'Buscar' | translate}}" animated></ion-searchbar>

                 <!--pestañas-->

  <ion-segment [(ngModel)]="category" (ionChange)="slides.slideTo(category)" style="background-color: #6096d4"
  color="light">
  <ion-segment-button layout="icon-start" value="0" style="--padding-end:0px;--padding-start:0px">
    <ion-icon name="rocket" style="margin-right:1px;zoom:0.8"></ion-icon>
    <ion-label >{{"Vuelos" | translate}}</ion-label>
  </ion-segment-button>
  <ion-segment-button layout="icon-start" value="1" style="--padding-end:2px;--padding-start:0px">
    <ion-icon name="bed" style="margin-right:0px;zoom:0.8"></ion-icon>
    <ion-label >{{"Hoteles" | translate}}</ion-label>
  </ion-segment-button>
 <ion-segment-button layout="icon-start" value="2" style="--padding-end:0px;--padding-start:0px">
        <ion-icon name="cash" style="margin-right:1px;zoom:0.8"></ion-icon>
        <ion-label>{{"Moneda" | translate}}</ion-label>
      </ion-segment-button>
</ion-segment>
<div id='indicator' class="SwipedTabs-indicatorSegment" [ngStyle]="{'width.%': (100/this.tabs.length)}" 
style="margin-top:2px">
</div>
</ion-header>
                <!--Actualizar-->
<ion-content> 
    <ion-refresher color="primaryº" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content  color="primary" pullingIcon="arrow-dropdown" refreshingSpinner="crescent"
          refreshingText="Actualizando">
        </ion-refresher-content>
      </ion-refresher>
                  <!--slides-->

<ion-slides color="primary" #slides (ionSlideTransitionStart)="updateIndicatorPosition();updateCat(slides.getActiveIndex())"
  (ionSlideWillChange)="updateIndicatorPosition()" (ionSlideDidChange)="updateIndicatorPosition()" #SwipedTabsSlider
  (ionSlideDrag)="animateIndicator($event)">
  <ion-slide class="fixed-scroll">
    <ion-card *ngFor="let item of listadoPanelVuelos;let i = index" >
      <ion-card-header>
        <ion-buttons>
            <ion-card-title style="color: var(--ion-card-text)" >{{item.aerolinea}}</ion-card-title>
        </ion-buttons>
    </ion-card-header>
    <ion-card-content >
        <p>{{item.origen}} - {{item.destinoMa | translate}}</p>
        <p>{{item.hora_salida}} - {{item.hora_llegada}}</p>
        <p>{{item.precio}}€</p>
    </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide class="fixed-scroll">
    <ion-card *ngFor="let item of listadoPanelHotel;let i = index" >
      <img src="{{item.foto}}"/>
      <ion-card-header>
        <ion-buttons>
            <ion-card-title style="color: var(--ion-card-text)">{{item.nombre}}  
              {{item.destinoMa | translate}}
            </ion-card-title>
        </ion-buttons>
    </ion-card-header>
    <ion-card-content >
        <p >{{item.estrellas}}</p>
        <p >{{item.precioDia}}€/{{"dia" | translate}}</p> 
        <p >¡{{"puntuacion" | translate}}: {{item.puntuacion}} !</p>
    </ion-card-content>
    </ion-card>
  </ion-slide>
<ion-slide class="fixed-scroll">
    <ion-card *ngFor="let item of listadoPanelMoneda;let i = index" >
      <ion-card-header>
        <ion-buttons>
            <ion-card-title  style="color: var(--ion-card-text)">{{item.moneda | translate}}</ion-card-title>
        </ion-buttons>
    </ion-card-header>
    <ion-card-content >
        <p>{{"Simbolo" | translate}}: {{item.simbolo}}</p>
        {{"elvalor" | translate}}:<p>{{item.valorEuro}}</p>
    </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>
</ion-content> 

  
  
  
  
  
  
  